# -------------------------
# Python cache + artifacts
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Conda environment files
# (environment.yml SHOULD be committed)
# -------------------------
# Ignore conda-build artifacts
conda-bld/

# -------------------------
# Virtual environments (if someone uses venv)
# -------------------------
.venv/
venv/

# -------------------------
# IDE / Editor junk
# -------------------------
.vscode/
.idea/

# -------------------------
# OS-specific junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Environment variables
# -------------------------
.env
*.env
binary_5plus_high_row_count_part1.csv
binary_5plus_high_row_count_part2.csv
Cleaned_VLE_Data.csv
Halfway_Cleaned_VLE_Data.csv
Cleaned_VLE_Data_with_Smiles_and_Mols.csv
Cleaned_VLE_Data_with_Smiles_and_Mols_and_Descriptors.csv
descriptors_for_comp_1.npy
descriptors_for_comp_2.npy
